* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC', cursive;
}
body, html {
    position: relative;
    width: 100%;
}
.topDiv {
    background-color: white;
    height: 100px;
}
.navBar {
    margin: 0 31.5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    font-size: 20px;
}
.navHeader {
    display: flex;
    flex-direction: row;
}
.logo{
    padding-left: 4vw;
    font-size: 30px;
}
.navMenu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}
.navMenu li {
    padding: 8px 4vw;
}
.navMenu li:hover {
    cursor: pointer;
    background-color: aqua;
    opacity: 0.7;
    color: white;
    transition: all 1s;
}
.navToggle {
    position: absolute;
    right:15px;
    font-size: 1rem;
    display: none;
}
.background {
    width: 100%;
    border-top: 300px solid white;
    background-color: aqua;
    height: 100vh;
}
.title {
    position: fixed;
    left: 0;
    right: 0;
    top: 380px;
    font-size: 6vw;
    text-align: center;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
}
.title2 {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 380px;
    font-size: 6.5vw;
    text-align: center;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
}
.afterTitle{
    display: none;
}
.extend {
    border: 0px solid white;
    position: absolute;
    height: 101vh;
}
.fadeAway{
    opacity: 0;
    font-size: 6.5vw;
}
.disappear{
    transform: translate(0%,-100%);
}
.remove {
    height: 0px;
    margin: 0px;
    padding: 0px;
}
.showAfterTitle {
    opacity: 1;
    display: block;
}
.transition {
    transition: all 1.5s;
}

@media screen and (max-width: 768px) {
    .topDiv{
        display: none;
    }
    .navBar {
        flex-direction: column;
        align-items: flex-start;
        padding-top:30px;
    }
    .title {
        display: none;
        top: 330px;
    }
    .title2 {
        top:330px;
        display: block;
    }
    .navMenu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navMenu li {
        width: 100%;
        text-align: center;
    }
    .navToggle{
        display: block;
    }
    .navMenu.active {
        display: block;
        margin-bottom: 100px;
    }
    .showAfterTitle {
        opacity: 1;
        display: block;
    }
}